# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.pycharm_helpers

# QA
coverage.xml
diff_*.html
*.report
report
venv
.cache/

# Override config files
override.cfg

# JetBrains
.idea

# OS X
.DS_Store

# pyenv
.python-version

*.trace
private.py
docs/_build
*.backup
*.log
*.pyc
.tox/
edx_rbac.egg-info/

# Making sure not to add init file for test module
tests/__init__.py

# Visual Studio Code
.vscode
