language: python
python:
- 2.7
- 3.6
env:
- TOXENV=master
matrix:
  include:
  - python: 3.6
    env: TOXENV=quality
  - python: 2.7
    env: TOXENV=quality
cache:
- pip
install:
- pip install -r requirements/travis.txt
script:
- tox
after_success:
- codecov
deploy:
  provider: pypi
  user: edx
  distributions: sdist bdist_wheel
  on:
    tags: true
    condition: "$TOXENV = quality"
  password:
    # This is for publishing the package to pypi.
    secure: Hty2+baIiGDmR7eLkwkKI2oweCKEpGG1ULdwUXJGlnrNnowlwHNhEMTmqK0DylQk12w1P8DwOht7LbAb66pvBSqs+nVOnvgwrHc/ELklD1xsPgAj9YIj2FMWW3PdSBHmyGjStJGmnpHK31fDUGeLVXPs5clHwvFt/DB8cwP6Q3/pUDsuxBAmLLFyELR9fTK37gfvrSfaHhYTCYwhA0ZKFs1E8lO6nIk3ZoPOMv5mW1ivjHvN8/qZ7xMTTBhUMTXD6X2iF2r1SluiZfzcOGbb09QLg1x8YBIfgziF+C9ryO1wenzT/VNRPBxu/eF+JYLfx3npJgaIoSnWMR/hSIx4DbFPx7lr/qp+c3WR38g/xEd8wGAYPbXbEcEQRaD4pZpkizoDW5TED10KipsigK27+26JPpQODfW+chWSCi0iFyduX35cbO0Hnt1m/Dmap4MpjhET5BUAdiyinaI8Hxt49TQLzumaY9r6QFWG/LhzS+opGAXCw0DdKvLAmc0zB/S9IW3oD2NIWk3uHPi/bNwp+XX5NGrYlvz+v9cfUCJXnYKIY4K9mtFnBpg/DdC5tfpMOOC5OePwUCtxPMeXEPRC9tgONBRqEX23AO3JkJ0XSyb42hfC/gLKtM5KWo99mMsSLZxpES5pw30bC/UtE8bfgM9STrvUzbokDu4dgj5D3uw=
